#banner {
  position: relative;
  top: 100px;
  height: 200px;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10px;
}

#banner img {
  width: 100%;
  display: block;
  transition: all 0.3s ease-in-out;
}


#banner:hover img {
  transform: scale(1.1);
}

#banner:hover::before {
  background-color: rgba(0, 0, 0, 0.3);
}


#content {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}

aside {
  width: 20%;
  padding: 20px;
  border: 1px solid #cccccc;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

aside:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-box input[type="text"] {
  width: 70%;
  border: none;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  font-size: 1rem;
}

.search-box button {
  background-color: #008cba;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.search-box button:hover {
  background-color: #007099;
}

aside h3 {
  text-align: center;
  font-family: "方正硬笔行楷";
  transition: color 0.3s ease-in-out;
  color: #333333;
  font-size: 24px;
  margin-bottom: 20px;
}


aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside ul li {
  display: block;
  height: 50px;
  margin-bottom: 5px;
  transition: all 0.3s ease;
}

aside ul li:hover {
  transform: translateX(5px);
}

aside ul li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid #ccc;
}

aside ul li:last-child a {
  border-bottom: none;
}


main {
  width: 75%;
  padding-right: 20px;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

main.show {
  opacity: 1;
  transform: translateY(0);
}

main p:first-child {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

main p:first-child a {
  color: #008c8c;
}

main h2 {
  font-family: "方正硬笔行楷", cursive;
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.grid-item {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #eaeaea;
  padding: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.grid-item.show {
  opacity: 1;
  transform: translateY(0);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-item img {
  display: block;
  margin: 0 auto 10px;
  max-width: 100%;
  height: auto;
}

.grid-item p:last-child {
  margin-top: 20px;
  text-align: center;
}

.grid-item p:last-child a {
  background-color: #008c8c;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.grid-item p:last-child a:hover {
  background-color: #006666;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in {
  animation: slideIn 0.6s ease forwards;
}

