#banner {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 0 auto;
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(80%);
  transition: filter 0.3s ease;
}

#banner:hover img {
  filter: brightness(100%);
}


#content {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}

aside {
  width: 20%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
  transition: box-shadow 0.3s ease-in-out;
}

.sidebar-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "方正硬笔行楷";
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-box input[type="text"] {
  width: 70%;
  border: none;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  font-size: 1rem;
}

.search-box button {
  background-color: #008cba;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.search-box button:hover {
  background-color: #007099;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

aside ul li {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 5px;
}

aside ul li:hover {
  background-color: #e6e6e6;
}

aside ul li.active {
  background-color: #008c8c;
  font-weight: bold;
  color: #f6fbf1;
  transform: scale(1.05);
  border-radius: 5px;
}

aside ul li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

aside ul li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


main {
  width: 75%;
  padding-right: 20px;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

main h1 {
  font-family: "方正硬笔行楷";
  font-size: 32px;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

main p {
  font-size: 20px;
  line-height: 1.8;
  text-align: justify;
  margin-bottom: 20px;
}

main p:first-child {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

main p:first-child a {
  color: #008c8c;
  text-decoration: none;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in {
  animation: slideIn 0.6s ease forwards;
}