#banner {
    width: 100%;
    position: relative;
    top: 100px;
    height: 200px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

#banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

#banner:hover img {
    transform: scale(1.1);
}


#content {
    position: relative;
    top: 100px;
    height: 750px;
    width: 80%;
    margin: 20px auto;
    margin-bottom: 10px;
}

aside {
    padding: 20px;
    width: 20%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #cccccc;
    transition: box-shadow 0.3s ease-in-out;
}

aside:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

aside h3 {
    font-family: "方正硬笔行楷";
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-box input[type="text"] {
    width: 70%;
    border: none;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
}

.search-box button {
    background-color: #008cba;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.search-box button:hover {
    background-color: #007099;
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside ul li {
    display: block;
    height: 50px;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

aside ul li:hover {
    transform: translateX(5px);
}

aside ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid #ccc;
}

aside ul li:last-child a {
    border-bottom: none;
}

main {
    width: 75%;
    float: right;
    padding-right: 20px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

main.show {
    opacity: 1;
    transform: translateY(0);
}

main p:first-child {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

main p:first-child a {
    color: #008c8c;
}

main h2 {
    font-family: "方正硬笔行楷", cursive;
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 30px;
}

.item {
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.6s ease;
    opacity: 0;
    transform: translateY(20px);
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.item.show {
    opacity: 1;
    transform: translateY(0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.item img {
    display: block;
    width: 100%;
    height: 250px;
    max-height: 250px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.item:hover img {
    transform: scale(1.05);
}

.item h4 {
    font-family: "方正硬笔行楷", cursive;
    font-size: 20px;
    margin-top: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s ease;
}

.item:hover .overlay {
    opacity: 1;
}

.item .description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    color: #fff;
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s ease;
    height: 100%;
    width: 90%;
    line-height: 25px;
}

.item:hover .description {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-in {
    animation: slideIn 0.6s ease forwards;
}